# Vim swappies
*.swp

# Pdf files
*.pdf

# gcc binaries
*.out

# Python virtual environments
venv

# Build files
build
*/build/*
*/*/build/*
*/*/*/*/build/*
*/*/*/*/*/build/*
*/*/*/*/*/*/build/*
*/*/*/*/*/*/*/build/*
*/*/*/*/*/*/*/*/build/*
*/*/*/*/*/*/*/*/*/build/*
*/*/*/*/*/*/*/*/*/*/build/*
*/*/*/*/*/*/*/*/*/*/*/build/*
*/*/*/*/*/*/*/*/*/*/*/*/build/*
build
